<p>Добрый день, <%= @resource.email %>!</p>

<p>Был отправлен запрос на восстановление пароля, вы можете это сделать по ссылке ниже:</p>

<p><%= link_to 'Изменить пароль', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали восстановление пороля, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не введёте новый пароль.</p>